apiVersion: apps/v1
kind: Deployment
metadata:
  name: fastapi-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: fastapi
  template:
    metadata:
      labels:
        app: fastapi
    spec:
      containers:
      - name: fastapi
        image: us-central1-docker.pkg.dev/qwiklabs-gcp-02-0a8c2e4cc73c/fastapi-repo/fastapi:latest
        ports:
        - containerPort: 8080
